---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
  title: "Custom Web Design",
  description:
    "Experience bespoke web design that captures the spirit of Ibiza. I specialize in creating stunning, user-friendly websites that reflect the beauty and uniqueness of our island.",
  icon: "mdi:handshake",
},

{
  title: "Visually Stunning Portfolios",
  description:
    "Showcase your business with a visually captivating portfolio designed to make your work stand out in the bustling Ibiza market.",
  icon: "mdi:camera",
},

{
  title: "Responsive and Mobile-Friendly",
  description:
    "Engage your audience effectively with websites that look great on any device, ensuring a flawless user experience whether viewed on a phone, tablet, or desktop.",
  icon: "mdi:cellphone-link",
},

{
  title: "E-commerce Solutions",
  description:
    "Expand your business in Ibiza with a custom e-commerce site that combines style with functionality, making shopping seamless for your customers.",
  icon: "mdi:cart",
},

{
  title: "SEO Optimization",
  description:
    "Attract more visitors with sites optimized for search engines, designed to increase visibility and drive traffic in the competitive Ibiza online space.",
  icon: "mdi:magnify",
},

{
  title: "Maintenance and Support",
  description:
    "Keep your website up-to-date and performing optimally with my ongoing support and maintenance services, letting you focus on running your business in Ibiza.",
  icon: "mdi:wrench",
},

];
---

<ContentSection title="My Web Desgin Services" id="service">
  <Fragment slot="lead">
    You'll get everything <span class="text-primary">you need from one place</span>. Design, development & SEO.
    <span class="text-primary">I'm here to make your</span>
    website special for <span class="text-primary">Ibiza.</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
  
</ContentSection>
