---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Professional Web Design in Ibiza" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Welcome to your go-to web design service in Ibiza. I create 
    <span class="text-primary">modern</span> websites with 
    <span class="text-primary">lightning-fast</span> performance and a 
    <span class="text-primary">seamless</span> user experience.
    <br><br>
    As a web designer based in the beautiful island of Ibiza, I specialize in 
    crafting custom websites that not only look stunning but also perform exceptionally well. 
    Whether you're a small business, a startup, or an established company, I am dedicated 
    to helping you build a strong online presence that drives growth and success.
    <br><br>
    My approach combines the latest design trends with cutting-edge technology to deliver 
    websites that are both visually appealing and highly functional. From responsive design 
    to user-friendly interfaces, every aspect of your website is tailored to meet your specific needs.
    <br><br>
    Let's work together to bring your vision to life and create a website that stands out in the digital world. 
    Contact me today to start your web design journey in Ibiza.
  </Fragment>
</ContentSection>
